* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    height: 100%;
    font-size: 62.5%;
}

body {
    height: 100%;
    background: rgb(104, 205, 214);
}

.back_btn {
    transform: scale(0.8);
    display: inline-block;
    height: auto;
    max-width: 100%;
}

.logo {
    transform: scale(0.5);
    max-width: 100%;
    display: block;
    padding-left: 10%;
    padding-right: 10%;
}

p {
    color: white;
}

.desc {
    padding-left: 10%;
    padding-right: 10%;
    font-size: 1.5em;
}

.footer {
    margin-top: 2em;
    padding-left: 10%;
    padding-right: 10%;
}

.footer div:nth-child(1) {
    float: left;
}

.footer div:nth-child(2) {
    float: right;
}

.footer_img {
    transform: scale(0.5);
    max-width: 100%;
}

.footer_text {
    width: 100%;
    text-align: center;
    font-size: 1.2em;
}